/*
#FFFFFF BLANCO
#0b3142 AZUL
#019eb7 CELESTE
#348357 VERDE OSCURO
#4C956C VERDE MAS CLARO
*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color:#0b3142;
    color: white;
}
header{
    display: flex;
}
header img{
    width: 80%;
    height: 50%;
}
#banner{
    margin-left: -20%;
    width: 120%;
    height: 50%;
}
nav{
    display: flex;
    background-color: #019eb7;
    width: 100%;
    margin-top: -17%;
}
nav a{
    text-decoration: none;
    padding: 10px;
    font-size: 40px;
    color: black;
}
nav a:hover{
    background-color: aquamarine;
}
main{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    width: 70%;
    margin-left: 15%;
    margin-top: 1%;   
}
article{ 
    width: 100%; 
    margin-left: 0.2%;
    margin-top: 1%;  
    background-color: #019eb7;
}
.text{
    margin-left: 0.5%; 
}
.text2{
    margin-left: 1%; 
}
article p{
    font-size: 24px;
}
article h1{
    font-size: 40px;
    background-color: #019eb7;
    width: 100%;
    color: black;
    text-align: center;
}
article h2{
    font-size: 30px;
    color:#0b3142;
}
article img{
    width: 15%;
    margin-left: 42.5%;
    border-style: solid;
    margin-top: 1%;
}
footer img{
    position: relative;
}
footer{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-top: transparent;
    background-color: #019eb7;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 1%;
}
/*Media Queries*/
@media screen and (max-width:767px){
    nav{
        display: block;        
    }
    nav a{
        font-size: 26px;
    }
    #aut{
        font-size: 26px;
    }
    .text{
        font-size: 24px;
    }
    .text2{
        font-size: 20px;
    }
    article img{
        width: 50%;
        margin-left: 24.5%;
        border-style: solid;
        margin-top: 1%;
    }
}
@media screen and (max-width:480px){
    #email{
        font-size: 17px;
    }
}